@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100;500&display=swap');

body {
    background: #F2F2F2;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    color: #1A1A1A;  
}
a {
    text-decoration: none;
    color: #36427E;
}
a:hover {
    color: #1A1A1A;
}
button {
    margin: auto;
    display: block;
    padding: 15px 30px;
    border-radius: 100px;
    font-family: Roboto;
    font-weight: bold;
    line-height: 100%;
    text-transform: uppercase;
    color: #F2F2F2;
    background-color: #36427E;
}
#cardPlace {
    width: 333px;
    height: 500px;
    background: #D7D7D7;
    margin: 15px auto auto auto;
    border-radius: 15px;
}
.cardImage {
    background: #D7D7D7;
    margin: 15px auto auto auto;
    display: block;
    width: 333px;
    height: 500px;
    border-radius: 15px;
    transition: .2s;
    box-shadow: 0 0 0.5em #1A1A1A;
    transition: transform 0.5s, box-shadow 0.5s;
}
.cardImage:hover {
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow: 0 0 1.5em #1A1A1A;
}
footer {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
}